<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>梅江中学-用户注册</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <style type="text/css">
        h2 {
            margin-top: 100px;
            margin-bottom: 45px;
        }

        .login-form {
            width: 80%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        button {
            width: 90px;
            height: 40px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="login-form">
        <h2>新用户注册</h2>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="InputPhone" name="phone" placeholder="请输入手机号">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="InputName" name="name" placeholder="真实姓名">
            </div>
            <div class="form-group">
                    <select id="InputGroup" name="class" class="form-control">
                        <option value="" style="display: none;">请选择所在班级</option>
                        <option value="1">学生-701班</option>
                        <option value="2">学生-702班</option>
                        <option value="3">学生-801班</option>
                        <option value="4">学生-802班</option>
                        <option value="5">学生-901班</option>
                        <option value="6">学生-902班</option>
<!--                        <option value="7">教师账号</option>-->
                    </select>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="InputPwd" name="pwd" placeholder="设置密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="RepeatPwd" name="pwd" placeholder=" 再输入一次密码">
            </div>
            <button type="reset" class="btn btn-success">重置</button>
            <button id="submit" type="button" class="btn btn-default">提交</button>
        </form>
    </div>

</div> <!-- /container -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").click(function () {
            const phone = $("#InputPhone").val();
            const name = $("#InputName").val();
            const group = $("#InputGroup").val();
            const pwd = $("#InputPwd").val();
            const repeat = $("#RepeatPwd").val();
            if (phone === '' || pwd === '' || name === '' || group === '' || repeat === '') {
                alert("请填写完整的信息")
            } else if (repeat !== pwd) {
                alert("两次密码不一致")
            } else if (phone.length !== 11) {
                alert("请检查手机号码是否正确")
            } else {
                const data = {"phone": phone, "pwd": pwd, 'name': name, 'group': group};
                $.ajax({
                    url: "/user/register",
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log('注册成功');
                        window.location = '/'
                    },
                    error: function (msg) {
                        alert("注册失败")
                    }
                })
            }

        })
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>